<h1>Expense Tracker</h1>

<!-- SET BUDGET -->
<form action="/set_budget" method="POST">

    <input 
        type="number"
        name="budget"
        placeholder="Set Budget"
        required>

    <button type="submit">
        Set Budget
    </button>

</form>

<hr>

<h2>Budget: ₹{{ budget }}</h2>
<h2>Total Spent: ₹{{ total }}</h2>
<h2>Remaining: ₹{{ remaining }}</h2>

<hr>

<!-- ADD EXPENSE -->
<form action="/add" method="POST">

    <input 
        type="text"
        name="name"
        placeholder="Expense name"
        required>

    <input 
        type="number"
        name="amount"
        placeholder="Amount"
        required>

    <button type="submit">
        Add Expense
    </button>

</form>

<hr>

<h2>Expenses</h2>

{% for expense in expenses %}

    <p>
        {{ expense.name }} - ₹{{ expense.amount }}
    </p>

{% endfor %}